body{
background-color: rgb(0, 0, 0);
}

p{
    font-family: 'Lato';
    color: white;
    font-size: 20px;
}
.texto{
    padding-left:20% ;
    padding-top:10% ;
}
img{
    opacity: 70%;
}